In [4]:
#1 excercise
def args_function(a, b=10, c=None):
    if c is None:
        print("Sum of first 2 numbers:", a + b)
    else:
        print("Product of all 3 arguments:", a * b * c)

In [10]:
args_function(3, b=7)
args_function(2, b=3, c=5)

Sum of first 2 numbers: 10
Product of all 3 arguments: 30

In [14]:
def lists_number(a, b, c, d):
    result = []
    for word in [a, b, c, d]:
        if len(word) >= 5:
            result.append(word)
    return result

In [16]:
print(lists_number("apple", "dog", "banana", "hi"))

['apple', 'banana']

In [20]:
#3 excercise

expression = "3 * 5 + 2"
result = eval(expression)
print("The result is:", result)

The result is: 17

In [24]:
#4 excercise
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

In [28]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17]
prime_numbers = list(filter(is_prime, numbers))
print("Prime numbers:", prime_numbers)

Prime numbers: [2, 3, 5, 7, 11, 13, 17]

In [30]:
#5 excercise

words = ["apple", "banana", "grape", "orange"]
uppercased_words = list(map(str.upper, words))
print("Uppercased list:", uppercased_words)

Uppercased list: ['APPLE', 'BANANA', 'GRAPE', 'ORANGE']