In [1]:
#Create a list of 5 random numbers and print the list.

val = [1,3,4,6,56]
print(val)

[1, 3, 4, 6, 56]

In [3]:
#Insert 3 new values to the list and print the updated list. 

val.extend(["34"," 23", "12"])  
print(val)

[1, 3, 4, 6, 56, 34, 23, 12]

In [9]:
#Try to use a for loop to print each element in the list
val = [1, 3, 4, 6, 56, '34', '23', '12']

for i in val:
    print(i)

1
3
4
6
56
34
23
12

In [11]:
#Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively. 

dict = {"name": "John","age": "25","address" : "New York"}

print(dict)

{'name': 'John', 'age': '25', 'address': 'New York'}

In [13]:
#Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.


dict['phone']= 1234567890
print('the key value pairs of dict are:', dict)

the key value pairs of dict are: {'name': 'John', 'age': '25', 'address': 'New York', 'phone': 1234567890}

In [35]:
#Create a set with values 1, 2, 3, 4, and 5.
 
set1 = {1, 2, 3, 4, 5}  
print('values of set1 is:',set1)

values of set1 is: {1, 2, 3, 4, 5}

In [37]:
#Add the value 6 to the set created in Q1.
 
set1.add('6')
set1

{1, 2, 3, 4, 5, '6'}

In [45]:
#Remove the value 3 from the set created in Q1. 
 
set1.remove(3)
set1

{1, 2, 4, 5, '6'}

In [47]:
#Create a tuple with values 1, 2, 3, and 4 
 
tuple1 = (1,2,3,4)
print(tuple1)

(1, 2, 3, 4)

In [55]:
#Print the length of the tuple created in Q1.

print('the length of tuple1 is:',len(tuple1))

the length of tuple1 is: 4