In [5]:
#excerise 1
name = "Anu Subrahmanian"
studentid = "S1001"
emailid = "anusubrahmanian@gmail.com"

In [7]:
print(name)
print(studentid)
print(emailid)

Anu Subrahmanian
S1001
anusubrahmanian@gmail.com

In [18]:
#excerise 2
print(name + "\n" + studentid + "\n" + emailid)

Anu Subrahmanian
S1001
anusubrahmanian@gmail.com

In [20]:
#excercise 3
A = 14
B = 7

In [22]:
print(A+B)
print(A-B)
print(A*B)
print(A/B)

21
7
98
2.0

In [24]:
#excercise 4
print("1\n2\n3\n4\n5")

1
2
3
4
5

In [30]:
#excercise 5
print("\"SDK\" stands for \"Software Development Kit\", whereas \n \"IDE\" stands for \"Integrated Development Environment.\"")

"SDK" stands for "Software Development Kit", whereas
 "IDE" stands for "Integrated Development Environment."

In [36]:
#excercise 6
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

In [54]:
#excercise 7
num=23
textnum="57"
decimal=98.3
textnum = int(textnum)

In [48]:
print("type of num is:",type(num))
print("type of textnum is:",type(textnum))
print("type of decimal is:",type(decimal))

type of num is: <class 'int'>
type of textnum is: <class 'str'>
type of decimal is: <class 'float'>

In [56]:
print ("sum of variables:",sum([num, textnum, decimal]))

sum of variables: 178.3

In [58]:
#excercise 8
no_of_days = 365
hrs_in_day = 24
mins_in_hr = 60

In [64]:
 total_number_minutes_in_an_year = no_of_days * hrs_in_day * mins_in_hr
print(total_number_minutes_in_an_year)

525600

In [68]:
print("the total number of minutes in an year:", total_number_minutes_in_an_year)

the total number of minutes in an year: 525600

In [84]:
#excercise 9
name_of_person = input("Please enter your name: ")

print("Hi "+name_of_person+", welcome to Python programming :)")

Please enter your name:  Anu

Hi Anu, welcome to Python programming :)

In [90]:
#excercise 10
name_of_file = "PoundsToDollars.py"
pounds = float(input("Please enter amount in pounds: "))
conversion_rate = 1.25
dollars = pounds * conversion_rate
print(f"£ {pounds} are $ {dollars:.2f}")

Please enter amount in pounds:  1000

£ 1000.0 are $ 1250.00